[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/riscv/riscv-pk.git
[submodule "linux"]
	path = linux
	url = https://github.com/riscv/riscv-linux.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/sifive/buildroot.git
[submodule "Speckle"]
	path = Speckle-2006
	url = https://github.com/ccelio/Speckle.git
